{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block style %}
  img {margin: 5px; border: 1px solid #ddd}
  .section .row:nth-of-type(even) {background-color: #eee} 
{% endblock style %}
{% block content %}

<div id="about" class="container-fluid section">
   <div class="row">
      <div class="col-sm-4 col-sm-push-8">
         <img src="/static/img/photo.jpg" class="img-rounded" alt="Portrait" width="200" >
      </div>
      <div class="col-sm-8 col-sm-pull-4">
         <h1>About Me</h1>
         <p>My name is Thomas Debeauvais.
         Have a look at my research projects below,
         <a href="/static/docs/resume-debeauvais.pdf">resume</a>, 
         <a href="https://github.com/gentimouton">github page</a>, 
         <a href='https://www.linkedin.com/in/thomas-debeauvais-497430b0'>linkedin</a>,
         or drop me an email at gentimouton (over at gmail.com).
         </p><p>
         I have a PhD from UC Irvine, where I mined 
         player behavior in video games while in the group of 
         <a href="http://www.ics.uci.edu/~lopes">Crista Lopes</a>.
         </p>
      </div>
   </div>

</div>
{% endblock content %}